#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-top: 18%;
    padding-right: 25%;
    min-height: 55vh;
}

.Typist {
    color: white;
    text-align: center;
    font-size: 76px;
    margin-top: -30px;
}

.Typist .Cursor--blinking {
    color: #aaa;
    padding-left: 4px;
}

.intro-title {
    font-family: Arial, sans-serif;
    font-size: 60px;
}  

.intro-desc{
    color: white;
}