body {
  font-family: Arial, sans-serif;
  background: #022D36;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

html, body{
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
